header .main-title {
    margin-top: 200px;
    color: rgba(255, 255, 255, 0);
    text-align: center;
    font-family: monospace;
    font-size: 3em;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 250);
    line-height: 0.75em;
    margin-bottom: 500px;
}

table {

    td:nth-child(1) {
        padding-right: 80px;
        padding-left: 10px;
    }

    td {
        line-height: 1.5em;
        font-size: 1.3em;
        font-family: monospace;
        font-weight: bold;
        color: #ffffff;
        text-align: left;
    }

    tr:nth-child(odd) {
        background-color: rgba(255, 255, 255, 0.183);
        td {
            color: #84c5e9;
            line-height: 1.75em;
        }
    }

    border-collapse: collapse;
}

#form-wrapper {

    display: flex;
    justify-content: center;

    form {
        display: grid;
        grid-template-rows: repeat(5, 40px) 80px 40px;
        grid-gap: 11px;
        width: 400px;

        textarea, input {
            border-radius: 10px;
            border: none;
            background: #ffffff1b;
            font-family: monospace;
            font-weight: bold;
            color: #84c5e9;
            padding-left: 15px;
        }

        input[type="submit"] {
            color: #1c7bae;
            line-height: 2em;
            font-size: 1.2em;
            border: 2px solid #26a7ed76;
        }

        input::-webkit-input-placeholder {
            padding-left: 4px;
        }
    }
}

main {
    margin-top: 100px;

    .content-wrapper {
        display: flex;
        justify-content: center;
        margin-top: -90px;
    }

    .content-grid {
        display: grid;
        grid-template-columns: 500px 500px;
        grid-gap: 70px;
    }

    img {
        height: 100%;
        display: block;
        margin: 0 auto;
    }

    .secondary-title:nth-child(1) {
        margin-top: -100px;
    }
}