header .main-title {
  margin-top: 200px;
  color: rgba(255, 255, 255, 0);
  text-align: center;
  font-family: monospace;
  font-size: 3em;
  -webkit-text-stroke: 1px white;
  line-height: 0.75em;
  margin-bottom: 500px;
}

table {
  border-collapse: collapse;
}

table td:nth-child(1) {
  padding-right: 80px;
  padding-left: 10px;
}

table td {
  line-height: 1.5em;
  font-size: 1.3em;
  font-family: monospace;
  font-weight: bold;
  color: #ffffff;
  text-align: left;
}

table tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.183);
}

table tr:nth-child(odd) td {
  color: #84c5e9;
  line-height: 1.75em;
}

#form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#form-wrapper form {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (40px)[5] 80px 40px;
      grid-template-rows: repeat(5, 40px) 80px 40px;
  grid-gap: 11px;
  width: 400px;
}

#form-wrapper form textarea, #form-wrapper form input {
  border-radius: 10px;
  border: none;
  background: #ffffff1b;
  font-family: monospace;
  font-weight: bold;
  color: #84c5e9;
  padding-left: 15px;
}

#form-wrapper form input[type="submit"] {
  color: #1c7bae;
  line-height: 2em;
  font-size: 1.2em;
  border: 2px solid #26a7ed76;
}

#form-wrapper form input::-webkit-input-placeholder {
  padding-left: 4px;
}

main {
  margin-top: 100px;
}

main .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -90px;
}

main .content-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 500px 500px;
      grid-template-columns: 500px 500px;
  grid-gap: 70px;
}

main img {
  height: 100%;
  display: block;
  margin: 0 auto;
}

main .secondary-title:nth-child(1) {
  margin-top: -100px;
}
/*# sourceMappingURL=contact.css.map */