header {
  margin-top: -20px;
}

header .main-title {
  margin-top: 200px;
  color: rgba(255, 255, 255, 0);
  text-align: center;
  font-family: monospace;
  font-size: 3em;
  -webkit-text-stroke: 1px white;
  line-height: 0.75em;
}

header #header-text {
  margin-top: 330px;
}

header #header-text p {
  padding: 0px 360px;
  text-align: justify;
  font-size: 1.3em;
  font-family: monospace;
  font-weight: bold;
  color: #ffffff;
}
/*# sourceMappingURL=content.css.map */