header {
    margin-top: -20px;

    .main-title {
        margin-top: 200px;
        color: rgba(255, 255, 255, 0);
        text-align: center;
        font-family: monospace;
        font-size: 3em;
        -webkit-text-stroke: 1px rgba(255, 255, 255, 250);
        line-height: 0.75em;
    }

    //under video
    #header-text {

        margin-top: 330px;

        p {
            padding: 0px 360px;
            text-align: justify;
            font-size: 1.3em;
            font-family: monospace;
            font-weight: bold;
            color: #ffffff;
        }
    }
}