.bg-video {
  z-index: -100;
  position: absolute;
  right: 0px;
  bottom: 0px;
  min-width: 100%;
  min-height: 100%;
}

nav {
  margin: 0 -10px;
}

nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav li:hover {
  background-color: rgba(255, 255, 255, 0.324);
}

nav a {
  display: block;
  text-align: center;
  padding: 20px 50px;
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  font-family: fantasy, "Copperplate", cursive, "Lucida Handwriting";
}

nav .active a {
  color: white;
}

body {
  background: -webkit-gradient(linear, left bottom, left top, from(#d0d0d0), color-stop(57%, #445863));
  background: linear-gradient(to top, #d0d0d0 0%, #445863 57%);
  overflow-x: hidden;
}

header {
  margin-top: -20px;
}

header .main-title {
  margin-top: 50px;
  color: rgba(0, 0, 0, 0);
  text-align: center;
  font-family: monospace;
  font-size: 3em;
  -webkit-text-stroke: 1px black;
  line-height: 0.75em;
}

header .main-title h1 {
  word-spacing: -0.3em;
}

header .main-title h2 {
  word-spacing: -0.275em;
}

header #header-text {
  margin-top: 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header #header-text p {
  max-width: 450px;
  text-align: justify;
  font-size: 1.3em;
  font-family: monospace;
  font-weight: bold;
  color: #ffffff;
}

main {
  margin-top: 50px;
}

main .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -90px;
}

main .content-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 500px 500px;
      grid-template-columns: 500px 500px;
  grid-gap: 150px;
}

main .content-grid:nth-child(1) {
  margin-top: 150px;
}

main img {
  width: 450px;
  height: 300px;
  border-radius: 2.5%;
}

main .text-wrapper {
  text-align: center;
  margin-top: -33px;
}

main a, main p {
  text-align: justify;
  font-size: 1.3em;
  font-family: monospace;
  font-weight: bold;
  color: #ffffff;
  width: 450px;
}

main a {
  text-decoration: none;
  color: #00334e;
}

main a:hover {
  color: #00334e87;
  font-size: 1.4em;
}

main h3 {
  font-size: 2em;
  color: #84c5e9;
  width: 450px;
  font-family: monospace;
  font-weight: bold;
}

main li {
  line-height: 0.4em;
  color: white;
}

main iframe {
  display: block;
  margin: auto;
}

footer {
  margin: 0 -10px;
  margin-top: 200px;
  background-color: #525252;
  padding: 50px 0;
  border: solid 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 500px 500px;
      grid-template-columns: 500px 500px;
  grid-gap: 200px;
}

footer p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 1.3em;
  font-family: monospace;
  font-weight: bold;
  color: #bababa;
}

.secondary-title {
  text-align: center;
  font-size: 2.8em;
  color: #84c5e9;
  font-family: monospace;
  font-weight: bold;
}

.secondary-title:nth-child(n+1) {
  margin-top: 100px;
}
/*# sourceMappingURL=style.css.map */