.bg-video {
    z-index: -100;
    position: absolute;
    right: 0px;
    bottom: 0px;
    min-width: 100%;
    min-height: 100%;
}

nav {
    margin: 0 -10px;

    ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
    }

    li:hover {
        background-color: rgba(255, 255, 255, 0.324);
    }

    a {
        display: block;
        text-align: center;
        padding: 20px 50px;
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 1.5em;
        font-family: fantasy, "Copperplate", cursive, "Lucida Handwriting";
    }

    .active {
        a {
            color: white;
        }
    }
}

body {
    background: linear-gradient(to top, rgb(208, 208, 208) 0%, #445863 57%);
    overflow-x: hidden;
}

header {
    margin-top: -20px;

    .main-title {
        margin-top: 50px;
        color: rgba(0, 0, 0, 0);
        text-align: center;
        font-family: monospace;
        font-size: 3em;
        -webkit-text-stroke: 1px rgba(0, 0, 0, 250);
        line-height: 0.75em;

        h1 {
            word-spacing: -0.3em;
        }

        h2 {
            word-spacing: -0.275em;
        }
    }

    //under image
    #header-text {

        margin-top: 470px;
        display: flex;
        justify-content: center;

        p {
            max-width: 450px;
            text-align: justify;
            font-size: 1.3em;
            font-family: monospace;
            font-weight: bold;
            color: #ffffff;
        }
    }
}

main {
    margin-top: 50px;

    .content-wrapper {
        display: flex;
        justify-content: center;
        margin-top: -90px;
    }

    .content-grid {
        display: grid;
        grid-template-columns: 500px 500px;
        grid-gap: 150px;
    }

    .content-grid:nth-child(1) {
        margin-top: 150px;
    }

    img {
        width: 450px;
        height: 300px;
        border-radius: 2.5%;
    }

    .text-wrapper {
        text-align: center;
        margin-top: -33px;
    }

    a, p {
        text-align: justify;
        font-size: 1.3em;
        font-family: monospace;
        font-weight: bold;
        color: #ffffff;
        width: 450px;
    }

    a {
        text-decoration: none;
        color: #00334e;
    }

    a:hover {
        color: #00334e87;
        font-size: 1.4em;
    }

    h3 {
        font-size: 2em;
        color: #84c5e9;
        width: 450px;
        font-family: monospace;
        font-weight: bold;
    }

    li {
        line-height: 0.4em;
        color: white;
    }

    iframe {
        display: block;
        margin: auto;
    }
}

footer {
    margin: 0 -10px;
    margin-top: 200px;
    background-color: #525252;
    padding: 50px 0;
    border: solid 1px;

    display: flex;
    justify-content: center;

    .footer-grid {
        display: grid;
        grid-template-columns: 500px 500px;
        grid-gap: 200px;
    }

    p{
        display: flex;
        justify-self: center;
        align-self: flex-end;
        font-size: 1.3em;
        font-family: monospace;
        font-weight: bold;
        color: #bababa;
    }
}

.secondary-title {
    text-align: center;
    font-size: 2.8em;
    //color: #26a7ed;
    color: #84c5e9;
    font-family: monospace;
    font-weight: bold;
}

.secondary-title:nth-child(n+1) {
    margin-top: 100px;
}
